* {
	box-sizing: border-box;
	font-family: 'Prompt', sans-serif;
}

html {
	height: 100%;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/fd/PalaciodelosDeportes_Concierto.jpg");
	background-size: cover;
	background-position: top right;
	background-attachment: fixed;
}

body {
	height: 100%;
	font-family: 'Prompt', sans-serif;
	background-color: rgba(255, 255, 255, 0.00);
	padding: 0;
	margin: 0;
}

h6 {
	font-size: 1.3vw;
}

h5 {
	font-size: 1.7vw;
}

h3 {
	font-size: 2.5vw;
}

hr {
	background-color: black;
	border: 1px solid #000000;
}

#main-content {
	padding: 0;
	margin: 0;
}

#map-column {
	margin: 0;
	padding: 0;
	position: fixed;
	right: 0;
	z-index: 0;
}

#map {
	width: 100%;
	height: 78vh;
	position: fixed;
	right: 0;
	margin: 0;
	padding: 0;
	margin-top: 4.4%;
	z-index: 0;
}

#row {
	padding: 0;
	margin: 0;
}

#nav-bar {
	position: fixed ;
	right: 0;
	top: 0;
	left: 0;
	padding: 1.5vw;
	/*padding-top:1.25vw;*/
	height: 7vw;
	z-index: 1;
}

nav{
	background-color: #0d47a1;
}

#search-bar {
	margin-bottom: 1vw;

}

#compass {
	font-size: 5vw;
	position:relative;
	bottom:10px;
}

#title {
	font-size: 3vw;
	padding-left: 2vw;
	font-style: italic;
	margin: 0;
	/*padding: 0;*/
}

.par-display{
	/*float:left;*/
}
.image-display{
	/*clear:both;*/
	height:150px;
}


select:invalid { 
	color: gray; 
}

.background-opacity {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 2;
}

.blue-container {
	background-color: #0d47a1;
}

.nav-wrapper {
	font-family: 'Prompt', sans-serif;
}

.modal-form-row {
	margin-bottom: 0px;
}

.input-field {
	font-family: 'Prompt', sans-serif;
	margin-top: 20px;
}

#keyword-input {
	width: 250px;
}

#modal-categories {
	position:fixed;
	margin:0px;
	padding: 10px;
	top: 7vw !important;
	left: 60%;
	border-radius:5px;
	width: 16.5% !important ; 
	height: 230px !important ;
	font-weight: bold;
	color: #757575;
}

#modal-location {
	position:fixed;
	margin:0px;
	padding: 0px;
	top: 7vw !important;
	left: 70%;
	border-radius:5px;
	width: 17% !important ; 
	height: 240px !important ;
}

#modal-daterange {
	position:fixed;
	margin:0px;
	padding: 5px;
	padding-top: 20px;
	top: 7vw !important;
	left: 80%;
	border-radius:5px;
	width: 18% !important ; 
	height: 200px !important ;
}

input[type='range']
{
	padding-top: 28px;
}

#form-location, 
#form-daterange {
	margin: 0px !important;
}

#form-daterange {
	height: 300px;
}


#categories-selected {
	background-color: #0d47a1;
	color: white;
}

ul.collection {
	margin: 0px ;
}

nav ul li a:hover, 
nav ul li a:active,
nav ul li a:visited, 
nav ul li a:link, 
nav a:hover,
nav a:active,
nav a:visited,
nav a:link{ 
	color: white;   
	text-decoration: none;
}

#event-list {
	position: relative;
	margin-bottom: 5vw;
	margin-top: 3vw;
	z-index: 0;
}

.event {
	margin-top: 1vw;
	border: 1px solid #8A8A8A;
	border-radius: 15px;
	padding: 1vw;
	background-color: rgba(255, 255, 255, 0.85);
}

.event:hover {
	background-color: rgba(171, 171, 171, 0.85);
	cursor: pointer;
}

.pop-up-event {
	position: fixed;
	width: 49.7%;
	top: 7vw;
	bottom: 9vh;
	z-index: 10;
	border: 1px solid #000000;
	background-color: rgb(255, 255, 255);
	padding: 0;
	overflow: scroll;
}

.pop-up-content {
	padding: 0;
}

.next-button {
	float: right;
	margin-bottom: 5px;
}

.previous-button {
	margin-bottom: 5px;
}

#pop-up-header {
	background-color: rgba(219, 219, 219, 0.95);
	width: 100% !important;
	border: 1px solid #DBDBDB;
	border-bottom: outset;
}

.pop-up-img {
	width: 25vw;
}

.row-three {
	text-align: center;
}

.pop-up-footer {
	padding: 0;
}
.purchase-button {
	width: 100%;
	height: 4vw;
	font-size: 2vw;
	background-color: #19E3AF;
}

.purchase-button:hover {
	background-color: #16C497;
}

#page-buttons {
	position: fixed;
	bottom: 0;
	left: 0:
	width: 100%;
	z-index: 0;
}

.close-button {
	font-size: 2vw;
	margin-top: 2vw;
	height: 3vw;
	text-align: center;
	padding-left: 1vw;
}

.close-button:hover {
	background-color: #C4C4C4;
}

.close-button:active {
	background-color: #6E6E6E;
}

.page-link {
	background-color: #0d47a1 !important;
	color: white !important;
	border: 1px solid #0d47a1 !important;
}

.page-link:visited {
	color: #6E6E6E !important;
}

.page-link:active {
	color: #6E6E6E !important;
}

.pagination {
	margin-right: 2vw;
}

.active a{
	color: #0d47a1 !important;
  background-color: white !important;
}

#zip-input,
#radius-input{
	width: 80px;
}

#city-input,
#zip-input  {
	margin: 0px;
}

#radius-input {
	margin-bottom: 0px;
}

[type="date"] {
	background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
	display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0;
}

.label-daterange {
	padding-top: 25px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 1rem;
}

.error-pop-up {
	position: fixed;
	right: 15vw;
	left: 15vw;
	background-color: rgba(255, 255, 255, 0.95);
	height: 10vw;
	margin-top: 10vw;
	border: 1px solid #000000;
	border-radius: 30px;
	padding-left: 1vw;
	padding-right: 1vw;
	text-align: center;
	z-index: 3;
}

.error-msg {
	margin-top: 1.5vw;
}

.error-pop-up-row {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 3;
}

.close-error {
	font-size: 1.5vw;
	float: right;
	margin-right: 1vw;
	border: 0;
	margin-top: 1vw;
}

.close-error:hover {
	background-color: #C4C4C4;
}

.image-display {
	width: 13vw;
}

.material-tooltip {
    display: none !important;
  }

 .backdrop{
	display: none;
}


/*media queries*/

@media only screen and (max-width: 1300px) {

	.pop-up-event {
		width: 50%;
		top: 12.8vh;
		bottom: 9.2vh;
	}
}

@media only screen and (max-width: 1000px) {
	.pop-up-event {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		height: 70vh;
		border-radius: 30px;
	}

	#pop-up-header {
		border-top-left-radius: 30px;
		border-top-right-radius: 30px
	}

	h5 {
		font-size: 2.7vw;
	}

	h6 {
		font-size: 2.3vw;
	}
}

@media only screen and (max-width: 1024px) {
	#keyword-input {
		width: 200px;
		margin-bottom: 0;
		position: relative;
		bottom:10px;
	}

	#titleText{
		position:relative;
		top:5px;
	}

	#modal-categories {
		/*top: 64px !important;*/
		left: 50%;
		width: 20% !important ; 
	}

	#modal-daterange {
		/*top: 64px !important;*/
		left: 75%;
		width: 22% !important ; 
		padding: 5px 0px 0px 0px;
	}

	#modal-location {
		/*top: 64px !important;*/
		left: 65%;
		width: 20% !important ;
	}

	.image-display {
		width: 170px;
		height: 120px;
	}

	#map {
		margin-top: 1.8%;
		height: 80vh;
	}

	#event-list {
		position: relative;
		margin-bottom: 8vw;
		margin-top: 1vw;
	}

	h5, h6, p {
		margin-left: 50px;
	}

	p {
		font-size: 1vw;
	}

	#venue-name, #address, #address-line-one, #address-line-two {
  		margin-left: 0;
  		margin-bottom: 0;
  	}

  	#expanded-date {
  		margin-left: 0;
  	}

  	#address {
  		margin-top: 10px;
  		margin-bottom: 10px;
  	}

  	.pop-up-event {
  		width: 49.5%;
		top: 6.9vw;
		bottom: 9.4vh;
  	}

  	.error-msg {
  		margin-left: 2vw;
  		margin-top: 1.5vw;
  	}
}


@media only screen and (max-width: 910px) {
	#nav-bar{
		height:64px;
	}

	.pop-up-img {
		width: 35vw;
	}

	.close-button {
		height: 4vw;
	}

	.close-button:hover {
		background-color: none;
	}
}

@media only screen and (max-width: 768px) {

	#modal-categories {
		left: 60%;
		top:64px !important;
		width: 26% !important ; 
	}

	#modal-daterange {
		left: 70%;
		top:64px !important;
		width: 28% !important; 
		padding: 5px 0px 0px 0px;
	}

	#modal-location {
		left: 68%;
		top:64px !important;
		width: 25% !important ;
	}

	#zip-input,
	#radius-input{
		width: 50px;
	}

	#titleText {
		font-size: 24px;
		top: 10px;
	}

	.pop-up-img {
		width: 44vw;
	}

	p {
		font-size: 2vw;
	}

	.close-button {
		height: 4.5vw;
		padding-left: 2vw
	}

	#map {
		position: static;
		width: 95%;
		margin-top: 0;
		margin-left: 2.5%;
		margin-right: 2.5%;
		margin-bottom: 10%;
	}

	#map-column {
		position: static;
		margin-top: 0;
	}

	#event-list {
		margin-bottom: 10px;
	}

	.image-display {
		margin-top: 2vw;
		width: 250px;
		height: 150px;
	}

	.pop-up-event {
		margin-top: 4vw;
		width: 90%;
	}

	.error-pop-up {
		height: 20%;
	}

	.error-msg {
  		margin-left: 2vw;
  		margin-top: 3vw;
  	}
/*
	.material-tooltip {
    	display: block !important;
  	}
  	*/

}



@media only screen and (max-width: 685px) {
	#keyword-input {
		width: 100px;

	}

	.navIcons{
		padding-left:0;
		padding-right:5px;
	}

	#title {
		width: 200px !important;
	}

	#compass {
		bottom: 32px;
		left: 15px;
	}

	.pop-up-img {
		width: 50vw;
	}


}

@media only screen and (max-width: 600px) {
	#nav-bar{
		height:56px;
	}

	#modal-categories,
	#modal-location,
	#modal-daterange{
		top: 56px !important;
	}

	.image-display {
		width: 150px;
		height: 80px;
	}


}



@media only screen and (max-width: 500px) {

	#titleText {
		font-size: 20px;
		top: 10px;
	}


	.material-icons {
		font-size: 18px !important;
	}

	.right,
	.sendIcon,
	#keyword-input{
		margin: 0px 2px !important;
		padding: 0 !important;

	}

	.next-button, .previous-button {
		font-size: 2vw;
	}

}





@media only screen and (max-width: 425px) {

	#titleText {
		
		top: 13px;
	}

	#keyword-input{
  			font-size: 10px;
  			width: 60px;

  		}

  	#modal-categories {
  		left: 60%;
  		width: 30% !important ; 
  		height: 140px !important;
  		font-size:10px;
  	}

  	.collection-item{
  		padding:2px 5px !important;
  	}

		#modal-location {
  		left: 60%;
  		width: 35% !important ;
  		height: 220px !important;
  	}

  	#modal-daterange {
  		left: 50%;
  		width: 50% !important; 
  		padding: 5px 0px 0px 0px;
  		height: 140px !important;
  		font-size:10px;
  	}

  	#from-date-input,
  	#to-date-input{
  		font-size:12px;
  	}

  	

  	#city-input,
  	#state-input{
  		font-size:12px;
  		margin:0;
  	}

  	#zip-input,
  	#radius-input{
  		width: 50px;
  		font-size:12px;
  	}

  	#radius-label{
  		font-size:12px;
  	}

  	.pop-up-img {
  		width: 70%;
  		margin-left: 15%;

  	}

  	p {
		font-size: 1.2vw;
	}

	h5 {
		font-size: 3.5vw;
	}

	h6 {
		font-size: 2vw;
	}

	h3 {
		font-size: 16px;
	}

	.image-display {
		margin-top: 3vw;
  		width: 150px;
  		height: 100px;
  	}

  	#venue-name, #address, #address-line-one, #address-line-two #expanded-date {
  		margin-left: 0;
  		margin-bottom: 0;
  	}

  	#expanded-date {
  		font-size: 11px;
  	}

  	#address-line-one {
  		margin-top: 10px;
  		font-size: 11px;
  	}

  	#address-line-two {
  		font-size: 11px;
  	}

  	#address {
  		font-size: 14px;
  	}

  	#venue-name {
  		font-size: 16px;
  		text-align: center;
  	}

  	.purchase-button {
  		height: 50px;
  		font-size: 20px;
  	}

  	.previous-button {
  		font-size: 10px;
  	}

  	.next-button {
  		font-size: 10px;
  	}

  	.close-button {
  		margin-left: 40px;
  		height: 20px;
  	}

  	#map {
		width: 92%;
		margin-top: 0;
		margin-left: 4%;
		margin-right: 4%;
		margin-bottom: 15%;
	}

	.pop-up-event {
		margin-top: 8vw;
		height: 80%;
	}

	a {
		font-size: 16px !important;
	}

	p {
		font-size: 11px;
	}

	.error-pop-up {
		height: 20%;
		padding-top: 20px;
		margin-top: 10vw;
	}

	.error-msg{
		margin: 0;
		margin-top: 6vw;
	}


  }



  	@media only screen and (max-width: 375px) {
	 		
  		#modal-categories {
  		left: 55%;
  		width: 35% !important; 
  	
  		}

  		#modal-location {
  			left: 55%;
  			width: 40% !important ;
  		
  		}
  	

  		#modal-daterange {
  			left: 52%;
  			width: 47% !important; 
  	
  		}

  		#map {
  			margin-bottom: 20%;
  		}

	  	.error-msg{
			margin: 0;
			margin-top: 6vw;
		}
  	}




  	@media only screen and (max-width: 320px) {

  	#modal-categories {
  		left: 50%;
  		width: 40% !important; 
  	
  	}

  	#modal-location {
  		left: 50%;
  		width: 47% !important ;
  		
  	}
  	

  	#modal-daterange {
  		left: 45%;
  		width: 54% !important; 
  	
  	}

  	.pop-up-event {
  		margin-top: 14vw;
		height: 80%;
	}

  	.event {
  		padding: 0;
  		margin: 0;
  	}

  	.image-display {
  		margin-top: 20px;
  		width: 110px;
  		height: 75px;
  	}

  	.purchase-button {
  		font-size: 15px;
  		height: 40px;
  	} 

  	.previous-button, .next-button {
  		font-size: 8px;
  	}

  	.event {
  		margin-bottom: 10px;
  		padding: 5px;
  	}

  	a {
		font-size: 8px !important;
	}

	#map {
  		margin-bottom: 25%;
  	}

  	.par-display, .name-display {
  		margin-left: 30px;
  		margin-top: 20px;
  	}
}

